.sidebar {
  position: fixed;
  top: 70px;
  left: 0;

  width: 240px;
  height: calc(100vh - 70px);

  background: rgba(15, 23, 42, 0.95);

  backdrop-filter: blur(20px);

  padding: 20px 10px;

  overflow-y: auto;

  border-right: 1px solid rgba(255,255,255,0.08);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 14px 18px;

  margin-bottom: 8px;

  border-radius: 14px;

  transition: 0.3s;

  cursor: pointer;
}

.menu-item:hover {
  background: rgba(255,255,255,0.08);
  transform: translateX(5px);
}

.menu-item span {
  font-size: 15px;
}