.video-card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(12px);
border:1px solid rgba(255,255,255,.1);

border-radius:20px;
overflow:hidden;

transition:.4s;
}

.video-card:hover{
transform:translateY(-10px) scale(1.02);
}